<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Taxis Tab -->
  <ion-tab title="Taxis" icon-off="ion-android-car" icon-on="ion-android-car" href="#/tab/taxis">
    <ion-nav-view name="tab-taxis"></ion-nav-view>
  </ion-tab>

  <!-- Hotels Tab -->
  <ion-tab title="Hotels" icon-off="ion-ios-home" icon-on="ion-ios-home-outline" href="#/tab/hotels">
    <ion-nav-view name="tab-hotels"></ion-nav-view>
  </ion-tab>

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-navigate" icon-on="ion-ios-navigate-outline" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


</ion-tabs>
